.answer__title {
  position: relative;
  height: calcvw(120);
  text-align: center;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: calcvw(-10) auto auto auto;
  }
}

.answer__title--correct {
  @extend .answer__title;

  &::before {
    width: calcvw(108);
    height: calcvw(108);
    background: url('/img/icon_circle.svg') no-repeat center / contain;
  }
}

.answer__title--miss {
  @extend .answer__title;

  &::before {
    width: calcvw(110);
    height: calcvw(108);
    background: url('/img/icon_cross.svg') no-repeat center / contain;
  }
}

.answer__title-image {
  position: relative;
}

.answer__title-image--correct {
  @extend .answer__title-image;

  width: calcvw(160);
}

.answer__title-image--miss {
  @extend .answer__title-image;

  width: calcvw(209);
  margin-top: 5px;
}

.answer__button-area {
  margin-top: calcvw(28);
}
