.button {
  font-size: $font-size-large;
  color: #22362C;
  text-align: center;
  width: 100%;
  text-shadow: 0 1px 0 #B4C9BB;
  background: url('/img/button.jpg') no-repeat center / cover;
  padding-top: calcvw(16);
  padding-bottom: calcvw(14);
  border-radius: calcvw(8);
  box-shadow: 0 calcvw(10) 0 #4A574E;
}

.button--large {
  @extend .button;

  font-size: calcvw(22);
  padding-top: calcvw(13);
  padding-bottom: calcvw(11);
}

.button-area {
  display: grid;
  padding-bottom: calcvw(10);
}

.button-area--2column {
  @extend .button-area;

  grid-template-columns: 1fr 1fr;
  gap: calcvw(12);
}