.card-list__item {
  & + & {
    margin-top: calcvw(20);
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 calcvw(2) 0 #0000001A;
  display: grid;
  padding: calcvw(16) calcvw(20);
  grid-template-columns: calcvw(20) auto;
  gap: calcvw(24);
  align-items: center;
}

.card--link {
  @extend .card;
}

.card__text {
  letter-spacing: calcvw(.4);
}