- var page = 'top'

include /_includes/_layout

block content
  section.l-page
    .top
      h1.top__logo
        img.top__logo-image(src="/img/logo.svg", alt="かみやたくを")
      .top__button-area.button-area
        button.button--large.js-start(type="button")
          | はじめる
