extends /_includes/_layout

block content
  section.l-page
    .quiz
      p.quiz__number.text-large
        | 問1
      h1.quiz__title
        | かみやたくをの言葉は？
      ul.quiz__list.card-list
        li.card-list__item
          a.card--link(href="#")
            p.card__number.text-large
              | イ
            p.card__text
              | つまづいたら何度だって
              br
              | 起きあがればいいんだよなあ
        li.card-list__item
          a.card--link(href="#")
            p.card__number.text-large
              | ロ
            p.card__text
              | 毎日少しずつ
              br
              | それがなかなかできねんだなあ
        li.card-list__item
          a.card--link(href="#")
            p.card__number.text-large
              | ハ
            p.card__text
              | できない約束は
              br
              | しないことだな
        li.card-list__item
          a.card--link(href="#")
            p.card__number.text-large
              | ニ
            p.card__text
              |体験してはじめて
              br
              | 身につくんだなあ

