extends /_includes/_layout

block content
  section.l-page
    .quiz.js-quiz
      p.quiz__number.text-large
        | 問1
      h1.quiz__title
        | かみやたくをの言葉は？
      ul.quiz__list.card-list
        li.card-list__item
          a.card--link.js-answer(href="#")
        li.card-list__item
          a.card--link.js-answer(href="#")
        li.card-list__item
          a.card--link.js-answer(href="#")
        li.card-list__item
          a.card--link.js-answer(href="#")

