extends /_includes/_layout

block content
  section.l-page
    .answer.js-quiz
      h1.js-answer-title
      //- h1.answer__title--correct.js-answer-title
        //- img.answer__title-image--correct(src="/img/text_correct.svg", alt="あたり")
      ul.answer__list.card-list
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
      .answer__button-area.js-answer-button-area
      //- .answer__button-area.button-area.js-answer-button-area
        button.button(type="button")
          | 次の問題