extends /_includes/_layout

block content
  section.l-page
    .answer.js-answer
      h1.js-answer-title
      ul.answer__list.card-list
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
      .answer__button-area.js-answer-button-area
