extends /_includes/_layout

block content
  section.l-page
    .answer.js-quiz
      h1.answer__title--correct
        img.answer__title-image--correct(src="/img/text_correct.svg", alt="あたり")
      ul.answer__list.card-list
        li.card-list__item
          .card.js-answer
        li.card-list__item
          .card.js-answer
        li.card-list__item
          .card.js-answer
        li.card-list__item
          .card.js-answer
      .answer__button-area.button-area
        button.button(type="button")
          | 次の問題