extends /_includes/_layout

block content
  section.l-page
    .answer
      h1.answer__title--miss
        img(src="/img/text_miss.svg", alt="はずれ")
      ul.answer__list.card-list
        li.card
          p.card__number
            | イ
          h2.card__text
            | つまづいたら何度だって
            br
            | 起きあがればいいんだよなあ
        li.card.is-selected
          p.card__number
            | ロ
          h2.card__text
            | 毎日少しずつ
            br
            | それがなかなかできねんだなあ
        li.card
          p.card__number
            | ハ
          h2.card__text
            | できない約束は
            br
            | しないことだな
        li.card
          p.card__number
            | ニ
          h2.card__text
            |体験してはじめて
            br
            | 身につくんだなあ
      .answer__button-area
        button.button(type="button")
          | 正解をみる
        button.button(type="button")
          | やり直す