extends /_includes/_layout

block content
  section.l-page
    .answer.js-quiz
      h1.answer__title--miss
        img.answer__title-image--miss(src="/img/text_miss.svg", alt="はずれ")
      ul.answer__list.card-list
        li.card-list__item
          .card.js-answer
        li.card-list__item
          .card.js-answer
        li.card-list__item
          .card.js-answer.is-selected
        li.card-list__item
          .card.js-answer
      .answer__button-area.button-area--2column
        button.button(type="button")
          | 正解をみる
        button.button(type="button")
          | やり直す
  .modal
    .modal__content
      p.modal__title.text-large
        | 正解
      p.modal__number
        | ロ
      p.modal__text
        | 毎日少しずつ
        br
        | それがなかなかできねんだなあ
      .modal__button-area.button-area
        button.button(type="button")
          | 次の問題