extends /_includes/_layout

block content
  section.l-page
    .result
      .result-box
        h1.result__title
          img.result__title-image--best(src="/img/text_best.svg", alt="がんばれ")
        p.result-box__text
          | 正解率
        p.result-box__correct-answer-rate
          span.result-box__correct-answer-rate-number
            | 50
          span.result-box__correct-answer-rate-percent
            | ％
      .result__button-area.button-area--2column
        button.button(type="button")
          | ゲームTOP
        button.button(type="button")
          | シェア