extends /_includes/_layout

append variables
  - var page = 'answer'

block content
  section.l-page.is-fade-in
    .answer.js-answer
      h1.js-answer-title
      ul.answer__list.card-list
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
        li.card-list__item
          .card.js-choice
      .answer__button-area.js-answer-button-area
