- var page = 'result'

include /_includes/_layout

block content
  section.l-page
    .result.js-result
      .result-box
        h1.result__title.js-result-title
        .result-box__correct-answer-rate-area
          p.result-box__correct-answer-rate-title.text-large
            | 正解率
          p.result-box__correct-answer-rate
            span.result-box__correct-answer-rate-number.js-result-rate
            span.result-box__correct-answer-rate-percent
              | ％
      .result__button-area.button-area--2column
        button.button.js-clear(type="button")
          | ゲームTOP
        button.button.js-share(type="button")
          | シェア